<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDriverNotificationLabel" jhiTranslate="busRidePlatformBackendApp.driverNotification.home.createOrEditLabel">Create or edit a Driver Notification</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!driverNotification.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="driverNotification.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.driverNotification.notification" for="field_notification">Notification</label>
            <input type="text" class="form-control" name="notification" id="field_notification"
                [(ngModel)]="driverNotification.notification"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.driverNotification.createdOnDevice" for="field_createdOnDevice">Created On Device</label>
            <div class="d-flex">
                <input id="field_createdOnDevice" type="datetime-local" class="form-control" name="createdOnDevice" [(ngModel)]="driverNotification.createdOnDevice"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.driverNotification.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="driverNotification.type" id="field_type" >
                <option value="PROXIMITY">{{'busRidePlatformBackendApp.DriverNotificationType.PROXIMITY' | translate}}</option>
                <option value="ARRIVED">{{'busRidePlatformBackendApp.DriverNotificationType.ARRIVED' | translate}}</option>
                <option value="SCHOOL_START">{{'busRidePlatformBackendApp.DriverNotificationType.SCHOOL_START' | translate}}</option>
                <option value="SCHOOL_END">{{'busRidePlatformBackendApp.DriverNotificationType.SCHOOL_END' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.driverNotification.driver" for="field_driver">Driver</label>
            <select class="form-control" id="field_driver" name="driver" [(ngModel)]="driverNotification.driverId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="driverOption.id" *ngFor="let driverOption of drivers; trackBy: trackDriverById">{{driverOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.driverNotification.spot" for="field_spot">Spot</label>
            <select class="form-control" id="field_spot" name="spot" [(ngModel)]="driverNotification.spotId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="spotOption.id" *ngFor="let spotOption of spots; trackBy: trackSpotById">{{spotOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
