<div>
    <h2>
        <span jhiTranslate="busRidePlatformBackendApp.driverNotification.home.title">Driver Notifications</span>
        <button class="btn btn-primary float-right jh-create-entity create-driver-notification" [routerLink]="['/', { outlets: { popup: ['driver-notification-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="busRidePlatformBackendApp.driverNotification.home.createLabel">
            Create new Driver Notification
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="driverNotifications">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.driverNotification.notification">Notification</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.driverNotification.createdOnDevice">Created On Device</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.driverNotification.type">Type</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.driverNotification.driver">Driver</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.driverNotification.spot">Spot</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let driverNotification of driverNotifications ;trackBy: trackId">
                <td><a [routerLink]="['../driver-notification', driverNotification.id ]">{{driverNotification.id}}</a></td>
                <td>{{driverNotification.notification}}</td>
                <td>{{driverNotification.createdOnDevice | date:'medium'}}</td>
                <td jhiTranslate="{{'busRidePlatformBackendApp.DriverNotificationType.' + driverNotification.type}}">{{driverNotification.type}}</td>
                <td>
                    <div *ngIf="driverNotification.driverId">
                        <a [routerLink]="['../driver', driverNotification.driverId  ]" >{{driverNotification.driverId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="driverNotification.spotId">
                        <a [routerLink]="['../spot', driverNotification.spotId  ]" >{{driverNotification.spotId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../driver-notification', driverNotification.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'driver-notification/'+ driverNotification.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'driver-notification/'+ driverNotification.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
