
<div *ngIf="driverNotification">
    <h2><span jhiTranslate="busRidePlatformBackendApp.driverNotification.detail.title">Driver Notification</span> {{driverNotification.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="busRidePlatformBackendApp.driverNotification.notification">Notification</span></dt>
        <dd>
            <span>{{driverNotification.notification}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.driverNotification.createdOnDevice">Created On Device</span></dt>
        <dd>
            <span>{{driverNotification.createdOnDevice | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.driverNotification.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'busRidePlatformBackendApp.DriverNotificationType.' + driverNotification.type}}">{{driverNotification.type}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.driverNotification.driver">Driver</span></dt>
        <dd>
            <div *ngIf="driverNotification.driverId">
                <a [routerLink]="['/driver', driverNotification.driverId]">{{driverNotification.driverId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.driverNotification.spot">Spot</span></dt>
        <dd>
            <div *ngIf="driverNotification.spotId">
                <a [routerLink]="['/spot', driverNotification.spotId]">{{driverNotification.spotId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'driver-notification/'+ driverNotification.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
