<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--[if !mso]>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <![endif]-->
    <style type="text/css">

        /* CLIENT-SPECIFIC STYLES */
        body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
        table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
        img { -ms-interpolation-mode: bicubic; }

        /* RESET STYLES */
        img { border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; }
        table { border-collapse: collapse !important; }
        body { height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important; }

        /* iOS BLUE LINKS */
        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        /* MOBILE STYLES */
        @media screen and (max-width:600px){
            h1 {
                font-size: 32px !important;
                line-height: 32px !important;
            }
        }

        /* ANDROID CENTER FIX */
        div[style*="margin: 16px 0;"] { margin: 0 !important; }
    </style>
</head>
<body style="background-color: #f4f4f4; margin: 0 !important; padding: 0 !important;">

<!-- HIDDEN PREHEADER TEXT -->
<div style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: 'Open Sans', Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
    Password reset request
</div>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <!-- LOGO -->
    <tr>
        <td align="center" style="padding: 40px 0px 0px 0px;">
            <!--[if (gte mso 9)|(IE)]>
            <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
                <tr>
                    <td align="center" valign="top" width="600">
            <![endif]-->
            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;" >
                <tr>
                    <td align="center" valign="top">
                        <img alt="Logo" th:src="@{|${baseUrl}/bus-ride-mail-header.png|}" width="600" height="232" style="display: block; width: 100%; max-width: 600px; font-family: 'Open Sans', Arial, sans-serif; color: #ffffff; font-size: 18px;" border="0" />
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </td>
    </tr>
    <!-- HERO -->
    <tr>
        <td bgcolor="#f4f4f4" align="center" style="padding: 0px 0px 0px 0px;">
            <!--[if (gte mso 9)|(IE)]>
            <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
                <tr>
                    <td align="center" valign="top" width="600">
            <![endif]-->
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;" >
                <!-- COPY -->
                <tr>
                    <td bgcolor="#ffffff" align="center" style="padding: 50px 40px 18px 40px; color: #797c8d; font-family: 'Open Sans', Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 22px;" >
                        <p style="margin: 0;" th:text="#{email.greeting(${user.firstName + ' ' + user.lastName})}">Dear Name Lastname,</p>
                    </td>
                </tr>
                <!-- COPY -->
                <tr>
                    <td bgcolor="#ffffff" align="center" style="padding: 20px 40px 20px 40px; color: #797c8d; font-family: 'Open Sans', Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 22px;" >
                        <p style="margin: 0;">
                            For your <strong>Bus Ride Platform</strong> account a password reset was requested, please click on the button below to reset your password :
                        </p>
                    </td>
                </tr>
                <!-- COPY -->
                <!-- BULLETPROOF BUTTON -->
                <tr>
                    <td bgcolor="#ffffff" align="center">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td bgcolor="#ffffff" align="center" style="padding: 10px 40px 40px 40px;">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center" style="border-radius: 5px;" bgcolor="#5c72fb">
                                                <a th:href="@{|${schoolMgmPortalUrl}/#/reset-password-finish?key=${user.resetKey}|}" target="_blank" style="font-size: 17px; font-family: 'Open Sans', Arial, sans-serif; color: #ffffff; text-decoration: none; padding: 7px 10px; border-radius: 5px; border: 1px solid #5d72fb; display: inline-block;">
                                                    <img alt="Password reset icon" th:src="@{|${baseUrl}/ico_mail_pass_reset.png|}" width="19" height="24" style="width: 19px; max-width: 19px; min-width: 19px; vertical-align: middle; margin-right: 5px;" border="0" />Password reset
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- COPY -->
                <tr>
                    <td bgcolor="#ffffff" align="center" style="padding: 20px 40px 90px 40px; border-radius: 0px 0px 4px 4px; color: #797c8d; font-family: 'Open Sans', Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 22px;" >
                        <p style="margin: 0;">Regards,<br />Bus Ride Platform Team. </p>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </td>
    </tr>
    <!-- FOOTER -->
    <tr>
        <td bgcolor="#f4f4f4" align="center" style="padding: 8px 10px 10px 10px;">
            <!--[if (gte mso 9)|(IE)]>
            <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
                <tr>
                    <td align="center" valign="top" width="600">
            <![endif]-->
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;" >
                <!-- NAVIGATION -->
                <tr>
                    <td bgcolor="#f4f4f4" align="center" style="padding: 30px 40px 30px 40px; color: #797c8d; font-family: Arial, sans-serif; font-size: 13px; font-weight: 400; line-height: 18px;" >
                        <p style="margin: 0;">
                            <a href="#" target="_blank" style="color: #797c8d;">About BusRide</a> ・
                            <a href="#" target="_blank" style="color: #797c8d;">Help</a> ・
                            <a href="#" target="_blank" style="color: #797c8d;">Legal</a>
                        </p>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </td>
    </tr>
</table>

</body>
</html>
