
<div *ngIf="pickupReport">
    <h2><span jhiTranslate="busRidePlatformBackendApp.pickupReport.detail.title">Pickup Report</span> {{pickupReport.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="busRidePlatformBackendApp.pickupReport.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'busRidePlatformBackendApp.PickupDropoffType.' + pickupReport.status}}">{{pickupReport.status}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.pickupReport.delay">Delay</span></dt>
        <dd>
            <span>{{pickupReport.delay}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.pickupReport.planned">Planned</span></dt>
        <dd>
            <span>{{pickupReport.planned}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.pickupReport.accomplished">Accomplished</span></dt>
        <dd>
            <span>{{pickupReport.accomplished}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.pickupReport.busRoute">Bus Route</span></dt>
        <dd>
            <div *ngIf="pickupReport.busRouteId">
                <a [routerLink]="['/bus-route', pickupReport.busRouteId]">{{pickupReport.busRouteId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.pickupReport.spot">Spot</span></dt>
        <dd>
            <div *ngIf="pickupReport.spotId">
                <a [routerLink]="['/spot', pickupReport.spotId]">{{pickupReport.spotId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pickup-report/'+ pickupReport.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
