<div>
    <h2>
        <span jhiTranslate="busRidePlatformBackendApp.pickupReport.home.title">Pickup Reports</span>
        <button class="btn btn-primary float-right jh-create-entity create-pickup-report" [routerLink]="['/', { outlets: { popup: ['pickup-report-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="busRidePlatformBackendApp.pickupReport.home.createLabel">
            Create new Pickup Report
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pickupReports">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.pickupReport.status">Status</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.pickupReport.delay">Delay</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.pickupReport.planned">Planned</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.pickupReport.accomplished">Accomplished</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.pickupReport.busRoute">Bus Route</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.pickupReport.spot">Spot</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pickupReport of pickupReports ;trackBy: trackId">
                <td><a [routerLink]="['../pickup-report', pickupReport.id ]">{{pickupReport.id}}</a></td>
                <td jhiTranslate="{{'busRidePlatformBackendApp.PickupDropoffType.' + pickupReport.status}}">{{pickupReport.status}}</td>
                <td>{{pickupReport.delay}}</td>
                <td>{{pickupReport.planned}}</td>
                <td>{{pickupReport.accomplished}}</td>
                <td>
                    <div *ngIf="pickupReport.busRouteId">
                        <a [routerLink]="['../bus-route', pickupReport.busRouteId  ]" >{{pickupReport.busRouteId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="pickupReport.spotId">
                        <a [routerLink]="['../spot', pickupReport.spotId  ]" >{{pickupReport.spotId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pickup-report', pickupReport.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pickup-report/'+ pickupReport.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pickup-report/'+ pickupReport.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
