<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPickupReportLabel" jhiTranslate="busRidePlatformBackendApp.pickupReport.home.createOrEditLabel">Create or edit a Pickup Report</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!pickupReport.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pickupReport.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.pickupReport.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="pickupReport.status" id="field_status" >
                <option value="SUCCESSFUL">{{'busRidePlatformBackendApp.PickupDropoffType.SUCCESSFUL' | translate}}</option>
                <option value="INCOMPLETE">{{'busRidePlatformBackendApp.PickupDropoffType.INCOMPLETE' | translate}}</option>
                <option value="UNSUCCESSFUL">{{'busRidePlatformBackendApp.PickupDropoffType.UNSUCCESSFUL' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.pickupReport.delay" for="field_delay">Delay</label>
            <input type="number" class="form-control" name="delay" id="field_delay"
                [(ngModel)]="pickupReport.delay"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.pickupReport.planned" for="field_planned">Planned</label>
            <input type="number" class="form-control" name="planned" id="field_planned"
                [(ngModel)]="pickupReport.planned"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.pickupReport.accomplished" for="field_accomplished">Accomplished</label>
            <input type="number" class="form-control" name="accomplished" id="field_accomplished"
                [(ngModel)]="pickupReport.accomplished"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.pickupReport.busRoute" for="field_busRoute">Bus Route</label>
            <select class="form-control" id="field_busRoute" name="busRoute" [(ngModel)]="pickupReport.busRouteId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="busRouteOption.id" *ngFor="let busRouteOption of busroutes; trackBy: trackBusRouteById">{{busRouteOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.pickupReport.spot" for="field_spot">Spot</label>
            <select class="form-control" id="field_spot" name="spot" [(ngModel)]="pickupReport.spotId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="spotOption.id" *ngFor="let spotOption of spots; trackBy: trackSpotById">{{spotOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
