<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTempServiceCancellationLabel" jhiTranslate="busRidePlatformBackendApp.tempServiceCancellation.home.createOrEditLabel">Create or edit a Temp Service Cancellation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tempServiceCancellation.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tempServiceCancellation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.tempServiceCancellation.cancellationType" for="field_cancellationType">Cancellation Type</label>
            <select class="form-control" name="cancellationType" [(ngModel)]="tempServiceCancellation.cancellationType" id="field_cancellationType" >
                <option value="ROUND_TRIP">{{'busRidePlatformBackendApp.StudentServiceType.ROUND_TRIP' | translate}}</option>
                <option value="PICKUP">{{'busRidePlatformBackendApp.StudentServiceType.PICKUP' | translate}}</option>
                <option value="DROPOFF">{{'busRidePlatformBackendApp.StudentServiceType.DROPOFF' | translate}}</option>
                <option value="OFF">{{'busRidePlatformBackendApp.StudentServiceType.OFF' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.tempServiceCancellation.reason" for="field_reason">Reason</label>
            <input type="text" class="form-control" name="reason" id="field_reason"
                [(ngModel)]="tempServiceCancellation.reason"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.tempServiceCancellation.student" for="field_student">Student</label>
            <select class="form-control" id="field_student" name="student" [(ngModel)]="tempServiceCancellation.studentId">
                <option [ngValue]="null"></option>
                <option [ngValue]="studentOption.id" *ngFor="let studentOption of students; trackBy: trackStudentById">{{studentOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.tempServiceCancellation.spot" for="field_spot">Spot</label>
            <select class="form-control" id="field_spot" name="spot" [(ngModel)]="tempServiceCancellation.spotId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="spotOption.id" *ngFor="let spotOption of spots; trackBy: trackSpotById">{{spotOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
