<div>
    <h2>
        <span jhiTranslate="busRidePlatformBackendApp.tempServiceCancellation.home.title">Temp Service Cancellations</span>
        <button class="btn btn-primary float-right jh-create-entity create-temp-service-cancellation" [routerLink]="['/', { outlets: { popup: ['temp-service-cancellation-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="busRidePlatformBackendApp.tempServiceCancellation.home.createLabel">
            Create new Temp Service Cancellation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tempServiceCancellations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.tempServiceCancellation.cancellationType">Cancellation Type</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.tempServiceCancellation.reason">Reason</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.tempServiceCancellation.student">Student</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.tempServiceCancellation.spot">Spot</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tempServiceCancellation of tempServiceCancellations ;trackBy: trackId">
                <td><a [routerLink]="['../temp-service-cancellation', tempServiceCancellation.id ]">{{tempServiceCancellation.id}}</a></td>
                <td jhiTranslate="{{'busRidePlatformBackendApp.StudentServiceType.' + tempServiceCancellation.cancellationType}}">{{tempServiceCancellation.cancellationType}}</td>
                <td>{{tempServiceCancellation.reason}}</td>
                <td>
                    <div *ngIf="tempServiceCancellation.studentId">
                        <a [routerLink]="['../student', tempServiceCancellation.studentId  ]" >{{tempServiceCancellation.studentId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tempServiceCancellation.spotId">
                        <a [routerLink]="['../spot', tempServiceCancellation.spotId  ]" >{{tempServiceCancellation.spotId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../temp-service-cancellation', tempServiceCancellation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'temp-service-cancellation/'+ tempServiceCancellation.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'temp-service-cancellation/'+ tempServiceCancellation.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
