
<div *ngIf="tempServiceCancellation">
    <h2><span jhiTranslate="busRidePlatformBackendApp.tempServiceCancellation.detail.title">Temp Service Cancellation</span> {{tempServiceCancellation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="busRidePlatformBackendApp.tempServiceCancellation.cancellationType">Cancellation Type</span></dt>
        <dd>
            <span jhiTranslate="{{'busRidePlatformBackendApp.StudentServiceType.' + tempServiceCancellation.cancellationType}}">{{tempServiceCancellation.cancellationType}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.tempServiceCancellation.reason">Reason</span></dt>
        <dd>
            <span>{{tempServiceCancellation.reason}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.tempServiceCancellation.student">Student</span></dt>
        <dd>
            <div *ngIf="tempServiceCancellation.studentId">
                <a [routerLink]="['/student', tempServiceCancellation.studentId]">{{tempServiceCancellation.studentId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.tempServiceCancellation.spot">Spot</span></dt>
        <dd>
            <div *ngIf="tempServiceCancellation.spotId">
                <a [routerLink]="['/spot', tempServiceCancellation.spotId]">{{tempServiceCancellation.spotId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'temp-service-cancellation/'+ tempServiceCancellation.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
