<div>
    <h2>
        <span jhiTranslate="busRidePlatformBackendApp.schoolEmail.home.title">School Emails</span>
        <button class="btn btn-primary float-right jh-create-entity create-school-email" [routerLink]="['/', { outlets: { popup: ['school-email-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="busRidePlatformBackendApp.schoolEmail.home.createLabel">
            Create new School Email
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="schoolEmails">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.schoolEmail.subject">Subject</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.schoolEmail.content">Content</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.schoolEmail.timestamp">Timestamp</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.schoolEmail.school">School</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let schoolEmail of schoolEmails ;trackBy: trackId">
                <td><a [routerLink]="['../school-email', schoolEmail.id ]">{{schoolEmail.id}}</a></td>
                <td>{{schoolEmail.subject}}</td>
                <td>{{schoolEmail.content}}</td>
                <td>{{schoolEmail.timestamp | date:'medium'}}</td>
                <td>
                    <div *ngIf="schoolEmail.schoolId">
                        <a [routerLink]="['../school', schoolEmail.schoolId  ]" >{{schoolEmail.schoolId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../school-email', schoolEmail.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'school-email/'+ schoolEmail.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'school-email/'+ schoolEmail.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
