
<div *ngIf="schoolEmail">
    <h2><span jhiTranslate="busRidePlatformBackendApp.schoolEmail.detail.title">School Email</span> {{schoolEmail.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="busRidePlatformBackendApp.schoolEmail.subject">Subject</span></dt>
        <dd>
            <span>{{schoolEmail.subject}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.schoolEmail.content">Content</span></dt>
        <dd>
            <span>{{schoolEmail.content}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.schoolEmail.timestamp">Timestamp</span></dt>
        <dd>
            <span>{{schoolEmail.timestamp | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.schoolEmail.school">School</span></dt>
        <dd>
            <div *ngIf="schoolEmail.schoolId">
                <a [routerLink]="['/school', schoolEmail.schoolId]">{{schoolEmail.schoolId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'school-email/'+ schoolEmail.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
