<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySpotLabel" jhiTranslate="busRidePlatformBackendApp.spot.home.createOrEditLabel">Create or edit a Spot</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!spot.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="spot.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.spot.gpsLatitude" for="field_gpsLatitude">Gps Latitude</label>
            <input type="number" class="form-control" name="gpsLatitude" id="field_gpsLatitude"
                [(ngModel)]="spot.gpsLatitude"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.spot.gpsLongitude" for="field_gpsLongitude">Gps Longitude</label>
            <input type="number" class="form-control" name="gpsLongitude" id="field_gpsLongitude"
                [(ngModel)]="spot.gpsLongitude"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.spot.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="spot.type" id="field_type" >
                <option value="SCHOOL">{{'busRidePlatformBackendApp.SpotType.SCHOOL' | translate}}</option>
                <option value="PICKUP_DROPOFF">{{'busRidePlatformBackendApp.SpotType.PICKUP_DROPOFF' | translate}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
