
<div *ngIf="spot">
    <h2><span jhiTranslate="busRidePlatformBackendApp.spot.detail.title">Spot</span> {{spot.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="busRidePlatformBackendApp.spot.gpsLatitude">Gps Latitude</span></dt>
        <dd>
            <span>{{spot.gpsLatitude}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.spot.gpsLongitude">Gps Longitude</span></dt>
        <dd>
            <span>{{spot.gpsLongitude}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.spot.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'busRidePlatformBackendApp.SpotType.' + spot.type}}">{{spot.type}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'spot/'+ spot.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
