<div>
    <h2>
        <span jhiTranslate="busRidePlatformBackendApp.spot.home.title">Spots</span>
        <button class="btn btn-primary float-right jh-create-entity create-spot" [routerLink]="['/', { outlets: { popup: ['spot-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="busRidePlatformBackendApp.spot.home.createLabel">
            Create new Spot
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="spots">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.spot.gpsLatitude">Gps Latitude</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.spot.gpsLongitude">Gps Longitude</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.spot.type">Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let spot of spots ;trackBy: trackId">
                <td><a [routerLink]="['../spot', spot.id ]">{{spot.id}}</a></td>
                <td>{{spot.gpsLatitude}}</td>
                <td>{{spot.gpsLongitude}}</td>
                <td jhiTranslate="{{'busRidePlatformBackendApp.SpotType.' + spot.type}}">{{spot.type}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../spot', spot.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'spot/'+ spot.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'spot/'+ spot.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
