
<div *ngIf="busCategory">
    <h2><span jhiTranslate="busRidePlatformBackendApp.busCategory.detail.title">Bus Category</span> {{busCategory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="busRidePlatformBackendApp.busCategory.noOfBuses">No Of Buses</span></dt>
        <dd>
            <span>{{busCategory.noOfBuses}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.busCategory.capacity">Capacity</span></dt>
        <dd>
            <span>{{busCategory.capacity}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.busCategory.school">School</span></dt>
        <dd>
            <div *ngIf="busCategory.schoolId">
                <a [routerLink]="['/school', busCategory.schoolId]">{{busCategory.schoolName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bus-category/'+ busCategory.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
