<div>
    <h2>
        <span jhiTranslate="busRidePlatformBackendApp.busCategory.home.title">Bus Categories</span>
        <button class="btn btn-primary float-right jh-create-entity create-bus-category" [routerLink]="['/', { outlets: { popup: ['bus-category-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="busRidePlatformBackendApp.busCategory.home.createLabel">
            Create new Bus Category
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="busCategories">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.busCategory.noOfBuses">No Of Buses</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.busCategory.capacity">Capacity</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.busCategory.school">School</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let busCategory of busCategories ;trackBy: trackId">
                <td><a [routerLink]="['../bus-category', busCategory.id ]">{{busCategory.id}}</a></td>
                <td>{{busCategory.noOfBuses}}</td>
                <td>{{busCategory.capacity}}</td>
                <td>
                    <div *ngIf="busCategory.schoolId">
                        <a [routerLink]="['../school', busCategory.schoolId  ]" >{{busCategory.schoolName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bus-category', busCategory.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bus-category/'+ busCategory.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bus-category/'+ busCategory.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
