
<div *ngIf="busRoute">
    <h2><span jhiTranslate="busRidePlatformBackendApp.busRoute.detail.title">Bus Route</span> {{busRoute.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="busRidePlatformBackendApp.busRoute.details">Details</span></dt>
        <dd>
            <span>{{busRoute.details}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.busRoute.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'busRidePlatformBackendApp.BusRouteType.' + busRoute.type}}">{{busRoute.type}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.busRoute.capacity">Capacity</span></dt>
        <dd>
            <span>{{busRoute.capacity}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.busRoute.createdOn">Created On</span></dt>
        <dd>
            <span>{{busRoute.createdOn | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.busRoute.inactiveOn">Inactive On</span></dt>
        <dd>
            <span>{{busRoute.inactiveOn | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.busRoute.school">School</span></dt>
        <dd>
            <div *ngIf="busRoute.schoolId">
                <a [routerLink]="['/school', busRoute.schoolId]">{{busRoute.schoolId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.busRoute.driver">Driver</span></dt>
        <dd>
            <div *ngIf="busRoute.driverId">
                <a [routerLink]="['/driver', busRoute.driverId]">{{busRoute.driverId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.busRoute.spot">Spot</span></dt>
        <dd>
            <span *ngFor="let spot of busRoute.spots; let last = last">
                <a [routerLink]="['/spot', spot?.id ]">{{spot.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bus-route/'+ busRoute.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
