<div>
    <h2>
        <span jhiTranslate="busRidePlatformBackendApp.busRoute.home.title">Bus Routes</span>
        <button class="btn btn-primary float-right jh-create-entity create-bus-route" [routerLink]="['/', { outlets: { popup: ['bus-route-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="busRidePlatformBackendApp.busRoute.home.createLabel">
            Create new Bus Route
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="busRoutes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.busRoute.details">Details</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.busRoute.type">Type</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.busRoute.capacity">Capacity</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.busRoute.createdOn">Created On</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.busRoute.inactiveOn">Inactive On</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.busRoute.school">School</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.busRoute.driver">Driver</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.busRoute.spot">Spot</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let busRoute of busRoutes ;trackBy: trackId">
                <td><a [routerLink]="['../bus-route', busRoute.id ]">{{busRoute.id}}</a></td>
                <td>{{busRoute.details}}</td>
                <td jhiTranslate="{{'busRidePlatformBackendApp.BusRouteType.' + busRoute.type}}">{{busRoute.type}}</td>
                <td>{{busRoute.capacity}}</td>
                <td>{{busRoute.createdOn | date:'medium'}}</td>
                <td>{{busRoute.inactiveOn | date:'medium'}}</td>
                <td>
                    <div *ngIf="busRoute.schoolId">
                        <a [routerLink]="['../school', busRoute.schoolId  ]" >{{busRoute.schoolId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="busRoute.driverId">
                        <a [routerLink]="['../driver', busRoute.driverId  ]" >{{busRoute.driverId}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let spot of busRoute.spots; let last = last">
                            <a class="form-control-static" [routerLink]="['../spot', spot?.id ]">{{spot.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bus-route', busRoute.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bus-route/'+ busRoute.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bus-route/'+ busRoute.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
