<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBusRouteLabel" jhiTranslate="busRidePlatformBackendApp.busRoute.home.createOrEditLabel">Create or edit a Bus Route</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!busRoute.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="busRoute.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.busRoute.details" for="field_details">Details</label>
            <textarea class="form-control" name="details" id="field_details"
                [(ngModel)]="busRoute.details"  ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.busRoute.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="busRoute.type" id="field_type" >
                <option value="PICKUP">{{'busRidePlatformBackendApp.BusRouteType.PICKUP' | translate}}</option>
                <option value="DROPOFF">{{'busRidePlatformBackendApp.BusRouteType.DROPOFF' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.busRoute.capacity" for="field_capacity">Capacity</label>
            <input type="number" class="form-control" name="capacity" id="field_capacity"
                [(ngModel)]="busRoute.capacity"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.busRoute.createdOn" for="field_createdOn">Created On</label>
            <div class="d-flex">
                <input id="field_createdOn" type="datetime-local" class="form-control" name="createdOn" [(ngModel)]="busRoute.createdOn"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.busRoute.inactiveOn" for="field_inactiveOn">Inactive On</label>
            <div class="d-flex">
                <input id="field_inactiveOn" type="datetime-local" class="form-control" name="inactiveOn" [(ngModel)]="busRoute.inactiveOn"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.busRoute.school" for="field_school">School</label>
            <select class="form-control" id="field_school" name="school" [(ngModel)]="busRoute.schoolId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="schoolOption.id" *ngFor="let schoolOption of schools; trackBy: trackSchoolById">{{schoolOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.busRoute.driver" for="field_driver">Driver</label>
            <select class="form-control" id="field_driver" name="driver" [(ngModel)]="busRoute.driverId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="driverOption.id" *ngFor="let driverOption of drivers; trackBy: trackDriverById">{{driverOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="busRidePlatformBackendApp.busRoute.spot" for="field_spot">Spot</label>
            <select class="form-control" id="field_spot" multiple name="spot" [(ngModel)]="busRoute.spots">
                <option [ngValue]="getSelected(busRoute.spots, spotOption)" *ngFor="let spotOption of spots; trackBy: trackSpotById">{{spotOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
