<div>
    <h2>
        <span jhiTranslate="busRidePlatformBackendApp.whiteLabel.home.title">White Labels</span>
        <button class="btn btn-primary float-right jh-create-entity create-white-label" [routerLink]="['/', { outlets: { popup: ['white-label-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="busRidePlatformBackendApp.whiteLabel.home.createLabel">
            Create new White Label
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="whiteLabels">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.whiteLabel.parentWhiteLabel">Parent White Label</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.whiteLabel.driverWhiteLabel">Driver White Label</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.whiteLabel.parentWhiteLabelVersion">Parent White Label Version</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.whiteLabel.driverWhiteLabelVersion">Driver White Label Version</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.whiteLabel.splashScreen">Splash Screen</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.whiteLabel.icnBus">Icn Bus</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.whiteLabel.logoBg">Logo Bg</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.whiteLabel.logoTxt">Logo Txt</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.whiteLabel.school">School</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let whiteLabel of whiteLabels ;trackBy: trackId">
                <td><a [routerLink]="['../white-label', whiteLabel.id ]">{{whiteLabel.id}}</a></td>
                <td>
                    <a *ngIf="whiteLabel.parentWhiteLabel" (click)="openFile(whiteLabel.parentWhiteLabelContentType, whiteLabel.parentWhiteLabel)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="whiteLabel.parentWhiteLabel">{{whiteLabel.parentWhiteLabelContentType}}, {{byteSize(whiteLabel.parentWhiteLabel)}}</span>
                </td>
                <td>
                    <a *ngIf="whiteLabel.driverWhiteLabel" (click)="openFile(whiteLabel.driverWhiteLabelContentType, whiteLabel.driverWhiteLabel)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="whiteLabel.driverWhiteLabel">{{whiteLabel.driverWhiteLabelContentType}}, {{byteSize(whiteLabel.driverWhiteLabel)}}</span>
                </td>
                <td>{{whiteLabel.parentWhiteLabelVersion}}</td>
                <td>{{whiteLabel.driverWhiteLabelVersion}}</td>
                <td>
                    <a *ngIf="whiteLabel.splashScreen" (click)="openFile(whiteLabel.splashScreenContentType, whiteLabel.splashScreen)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="whiteLabel.splashScreen">{{whiteLabel.splashScreenContentType}}, {{byteSize(whiteLabel.splashScreen)}}</span>
                </td>
                <td>
                    <a *ngIf="whiteLabel.icnBus" (click)="openFile(whiteLabel.icnBusContentType, whiteLabel.icnBus)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="whiteLabel.icnBus">{{whiteLabel.icnBusContentType}}, {{byteSize(whiteLabel.icnBus)}}</span>
                </td>
                <td>
                    <a *ngIf="whiteLabel.logoBg" (click)="openFile(whiteLabel.logoBgContentType, whiteLabel.logoBg)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="whiteLabel.logoBg">{{whiteLabel.logoBgContentType}}, {{byteSize(whiteLabel.logoBg)}}</span>
                </td>
                <td>
                    <a *ngIf="whiteLabel.logoTxt" (click)="openFile(whiteLabel.logoTxtContentType, whiteLabel.logoTxt)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="whiteLabel.logoTxt">{{whiteLabel.logoTxtContentType}}, {{byteSize(whiteLabel.logoTxt)}}</span>
                </td>
                <td>
                    <div *ngIf="whiteLabel.schoolId">
                        <a [routerLink]="['../school', whiteLabel.schoolId  ]" >{{whiteLabel.schoolName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../white-label', whiteLabel.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'white-label/'+ whiteLabel.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'white-label/'+ whiteLabel.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
