
<div *ngIf="whiteLabel">
    <h2><span jhiTranslate="busRidePlatformBackendApp.whiteLabel.detail.title">White Label</span> {{whiteLabel.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="busRidePlatformBackendApp.whiteLabel.parentWhiteLabel">Parent White Label</span></dt>
        <dd>
            <div *ngIf="whiteLabel.parentWhiteLabel">
                <a (click)="openFile(whiteLabel.parentWhiteLabelContentType, whiteLabel.parentWhiteLabel)" jhiTranslate="entity.action.open">open</a>
                {{whiteLabel.parentWhiteLabelContentType}}, {{byteSize(whiteLabel.parentWhiteLabel)}}
            </div>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.whiteLabel.driverWhiteLabel">Driver White Label</span></dt>
        <dd>
            <div *ngIf="whiteLabel.driverWhiteLabel">
                <a (click)="openFile(whiteLabel.driverWhiteLabelContentType, whiteLabel.driverWhiteLabel)" jhiTranslate="entity.action.open">open</a>
                {{whiteLabel.driverWhiteLabelContentType}}, {{byteSize(whiteLabel.driverWhiteLabel)}}
            </div>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.whiteLabel.parentWhiteLabelVersion">Parent White Label Version</span></dt>
        <dd>
            <span>{{whiteLabel.parentWhiteLabelVersion}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.whiteLabel.driverWhiteLabelVersion">Driver White Label Version</span></dt>
        <dd>
            <span>{{whiteLabel.driverWhiteLabelVersion}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.whiteLabel.splashScreen">Splash Screen</span></dt>
        <dd>
            <div *ngIf="whiteLabel.splashScreen">
                <a (click)="openFile(whiteLabel.splashScreenContentType, whiteLabel.splashScreen)" jhiTranslate="entity.action.open">open</a>
                {{whiteLabel.splashScreenContentType}}, {{byteSize(whiteLabel.splashScreen)}}
            </div>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.whiteLabel.icnBus">Icn Bus</span></dt>
        <dd>
            <div *ngIf="whiteLabel.icnBus">
                <a (click)="openFile(whiteLabel.icnBusContentType, whiteLabel.icnBus)" jhiTranslate="entity.action.open">open</a>
                {{whiteLabel.icnBusContentType}}, {{byteSize(whiteLabel.icnBus)}}
            </div>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.whiteLabel.logoBg">Logo Bg</span></dt>
        <dd>
            <div *ngIf="whiteLabel.logoBg">
                <a (click)="openFile(whiteLabel.logoBgContentType, whiteLabel.logoBg)" jhiTranslate="entity.action.open">open</a>
                {{whiteLabel.logoBgContentType}}, {{byteSize(whiteLabel.logoBg)}}
            </div>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.whiteLabel.logoTxt">Logo Txt</span></dt>
        <dd>
            <div *ngIf="whiteLabel.logoTxt">
                <a (click)="openFile(whiteLabel.logoTxtContentType, whiteLabel.logoTxt)" jhiTranslate="entity.action.open">open</a>
                {{whiteLabel.logoTxtContentType}}, {{byteSize(whiteLabel.logoTxt)}}
            </div>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.whiteLabel.school">School</span></dt>
        <dd>
            <div *ngIf="whiteLabel.schoolId">
                <a [routerLink]="['/school', whiteLabel.schoolId]">{{whiteLabel.schoolName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'white-label/'+ whiteLabel.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
