<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myWhiteLabelLabel" jhiTranslate="busRidePlatformBackendApp.whiteLabel.home.createOrEditLabel">Create or edit a White Label</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!whiteLabel.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="whiteLabel.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.whiteLabel.parentWhiteLabel" for="field_parentWhiteLabel">Parent White Label</label>
            <div>
                <div *ngIf="whiteLabel.parentWhiteLabel" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(whiteLabel.parentWhiteLabelContentType, whiteLabel.parentWhiteLabel)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{whiteLabel.parentWhiteLabelContentType}}, {{byteSize(whiteLabel.parentWhiteLabel)}}</span>
                    <button type="button" (click)="whiteLabel.parentWhiteLabel=null;whiteLabel.parentWhiteLabelContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_parentWhiteLabel" (change)="setFileData($event, whiteLabel, 'parentWhiteLabel', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="parentWhiteLabel" id="field_parentWhiteLabel"
                [(ngModel)]="whiteLabel.parentWhiteLabel"  />
            <input type="hidden" class="form-control" name="parentWhiteLabelContentType" id="field_parentWhiteLabelContentType"
                [(ngModel)]="whiteLabel.parentWhiteLabelContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.whiteLabel.driverWhiteLabel" for="field_driverWhiteLabel">Driver White Label</label>
            <div>
                <div *ngIf="whiteLabel.driverWhiteLabel" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(whiteLabel.driverWhiteLabelContentType, whiteLabel.driverWhiteLabel)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{whiteLabel.driverWhiteLabelContentType}}, {{byteSize(whiteLabel.driverWhiteLabel)}}</span>
                    <button type="button" (click)="whiteLabel.driverWhiteLabel=null;whiteLabel.driverWhiteLabelContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_driverWhiteLabel" (change)="setFileData($event, whiteLabel, 'driverWhiteLabel', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="driverWhiteLabel" id="field_driverWhiteLabel"
                [(ngModel)]="whiteLabel.driverWhiteLabel"  />
            <input type="hidden" class="form-control" name="driverWhiteLabelContentType" id="field_driverWhiteLabelContentType"
                [(ngModel)]="whiteLabel.driverWhiteLabelContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.whiteLabel.parentWhiteLabelVersion" for="field_parentWhiteLabelVersion">Parent White Label Version</label>
            <input type="number" class="form-control" name="parentWhiteLabelVersion" id="field_parentWhiteLabelVersion"
                [(ngModel)]="whiteLabel.parentWhiteLabelVersion"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.whiteLabel.driverWhiteLabelVersion" for="field_driverWhiteLabelVersion">Driver White Label Version</label>
            <input type="number" class="form-control" name="driverWhiteLabelVersion" id="field_driverWhiteLabelVersion"
                [(ngModel)]="whiteLabel.driverWhiteLabelVersion"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.whiteLabel.splashScreen" for="field_splashScreen">Splash Screen</label>
            <div>
                <div *ngIf="whiteLabel.splashScreen" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(whiteLabel.splashScreenContentType, whiteLabel.splashScreen)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{whiteLabel.splashScreenContentType}}, {{byteSize(whiteLabel.splashScreen)}}</span>
                    <button type="button" (click)="whiteLabel.splashScreen=null;whiteLabel.splashScreenContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_splashScreen" (change)="setFileData($event, whiteLabel, 'splashScreen', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="splashScreen" id="field_splashScreen"
                [(ngModel)]="whiteLabel.splashScreen"  />
            <input type="hidden" class="form-control" name="splashScreenContentType" id="field_splashScreenContentType"
                [(ngModel)]="whiteLabel.splashScreenContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.whiteLabel.icnBus" for="field_icnBus">Icn Bus</label>
            <div>
                <div *ngIf="whiteLabel.icnBus" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(whiteLabel.icnBusContentType, whiteLabel.icnBus)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{whiteLabel.icnBusContentType}}, {{byteSize(whiteLabel.icnBus)}}</span>
                    <button type="button" (click)="whiteLabel.icnBus=null;whiteLabel.icnBusContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_icnBus" (change)="setFileData($event, whiteLabel, 'icnBus', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="icnBus" id="field_icnBus"
                [(ngModel)]="whiteLabel.icnBus"  />
            <input type="hidden" class="form-control" name="icnBusContentType" id="field_icnBusContentType"
                [(ngModel)]="whiteLabel.icnBusContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.whiteLabel.logoBg" for="field_logoBg">Logo Bg</label>
            <div>
                <div *ngIf="whiteLabel.logoBg" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(whiteLabel.logoBgContentType, whiteLabel.logoBg)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{whiteLabel.logoBgContentType}}, {{byteSize(whiteLabel.logoBg)}}</span>
                    <button type="button" (click)="whiteLabel.logoBg=null;whiteLabel.logoBgContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_logoBg" (change)="setFileData($event, whiteLabel, 'logoBg', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="logoBg" id="field_logoBg"
                [(ngModel)]="whiteLabel.logoBg"  />
            <input type="hidden" class="form-control" name="logoBgContentType" id="field_logoBgContentType"
                [(ngModel)]="whiteLabel.logoBgContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.whiteLabel.logoTxt" for="field_logoTxt">Logo Txt</label>
            <div>
                <div *ngIf="whiteLabel.logoTxt" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(whiteLabel.logoTxtContentType, whiteLabel.logoTxt)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{whiteLabel.logoTxtContentType}}, {{byteSize(whiteLabel.logoTxt)}}</span>
                    <button type="button" (click)="whiteLabel.logoTxt=null;whiteLabel.logoTxtContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_logoTxt" (change)="setFileData($event, whiteLabel, 'logoTxt', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="logoTxt" id="field_logoTxt"
                [(ngModel)]="whiteLabel.logoTxt"  />
            <input type="hidden" class="form-control" name="logoTxtContentType" id="field_logoTxtContentType"
                [(ngModel)]="whiteLabel.logoTxtContentType" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.whiteLabel.school" for="field_school">School</label>
            <select class="form-control" id="field_school" name="school" [(ngModel)]="whiteLabel.schoolId">
                <option [ngValue]="null"></option>
                <option [ngValue]="schoolOption.id" *ngFor="let schoolOption of schools; trackBy: trackSchoolById">{{schoolOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
