<div>
    <h2>
        <span jhiTranslate="busRidePlatformBackendApp.dropoffReport.home.title">Dropoff Reports</span>
        <button class="btn btn-primary float-right jh-create-entity create-dropoff-report" [routerLink]="['/', { outlets: { popup: ['dropoff-report-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="busRidePlatformBackendApp.dropoffReport.home.createLabel">
            Create new Dropoff Report
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dropoffReports">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.dropoffReport.status">Status</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.dropoffReport.planned">Planned</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.dropoffReport.accomplished">Accomplished</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.dropoffReport.busRoute">Bus Route</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.dropoffReport.spot">Spot</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dropoffReport of dropoffReports ;trackBy: trackId">
                <td><a [routerLink]="['../dropoff-report', dropoffReport.id ]">{{dropoffReport.id}}</a></td>
                <td jhiTranslate="{{'busRidePlatformBackendApp.PickupDropoffType.' + dropoffReport.status}}">{{dropoffReport.status}}</td>
                <td>{{dropoffReport.planned}}</td>
                <td>{{dropoffReport.accomplished}}</td>
                <td>
                    <div *ngIf="dropoffReport.busRouteId">
                        <a [routerLink]="['../bus-route', dropoffReport.busRouteId  ]" >{{dropoffReport.busRouteId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="dropoffReport.spotId">
                        <a [routerLink]="['../spot', dropoffReport.spotId  ]" >{{dropoffReport.spotId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../dropoff-report', dropoffReport.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dropoff-report/'+ dropoffReport.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dropoff-report/'+ dropoffReport.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
