
<div *ngIf="dropoffReport">
    <h2><span jhiTranslate="busRidePlatformBackendApp.dropoffReport.detail.title">Dropoff Report</span> {{dropoffReport.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="busRidePlatformBackendApp.dropoffReport.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'busRidePlatformBackendApp.PickupDropoffType.' + dropoffReport.status}}">{{dropoffReport.status}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.dropoffReport.planned">Planned</span></dt>
        <dd>
            <span>{{dropoffReport.planned}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.dropoffReport.accomplished">Accomplished</span></dt>
        <dd>
            <span>{{dropoffReport.accomplished}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.dropoffReport.busRoute">Bus Route</span></dt>
        <dd>
            <div *ngIf="dropoffReport.busRouteId">
                <a [routerLink]="['/bus-route', dropoffReport.busRouteId]">{{dropoffReport.busRouteId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.dropoffReport.spot">Spot</span></dt>
        <dd>
            <div *ngIf="dropoffReport.spotId">
                <a [routerLink]="['/spot', dropoffReport.spotId]">{{dropoffReport.spotId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'dropoff-report/'+ dropoffReport.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
