
<div *ngIf="school">
    <h2><span jhiTranslate="busRidePlatformBackendApp.school.detail.title">School</span> {{school.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="busRidePlatformBackendApp.school.name">Name</span></dt>
        <dd>
            <span>{{school.name}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.school.address">Address</span></dt>
        <dd>
            <span>{{school.address}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.school.houseNumber">House Number</span></dt>
        <dd>
            <span>{{school.houseNumber}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.school.phone">Phone</span></dt>
        <dd>
            <span>{{school.phone}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.school.city">City</span></dt>
        <dd>
            <span>{{school.city}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.school.zipcode">Zipcode</span></dt>
        <dd>
            <span>{{school.zipcode}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.school.state">State</span></dt>
        <dd>
            <span>{{school.state}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.school.country">Country</span></dt>
        <dd>
            <span>{{school.country}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.school.logo">Logo</span></dt>
        <dd>
            <div *ngIf="school.logo">
                <a (click)="openFile(school.logoContentType, school.logo)">
                    <img [src]="'data:' + school.logoContentType + ';base64,' + school.logo" style="max-width: 100%;" alt="school image"/>
                </a>
                {{school.logoContentType}}, {{byteSize(school.logo)}}
            </div>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.school.spot">Spot</span></dt>
        <dd>
            <div *ngIf="school.spotId">
                <a [routerLink]="['/spot', school.spotId]">{{school.spotId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.school.parent">Parent</span></dt>
        <dd>
            <span *ngFor="let parent of school.parents; let last = last">
                <a [routerLink]="['/parent', parent?.id ]">{{parent.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'school/'+ school.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
