<div>
    <h2>
        <span jhiTranslate="busRidePlatformBackendApp.school.home.title">Schools</span>
        <button class="btn btn-primary float-right jh-create-entity create-school" [routerLink]="['/', { outlets: { popup: ['school-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="busRidePlatformBackendApp.school.home.createLabel">
            Create new School
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="schools">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.school.name">Name</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.school.address">Address</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.school.houseNumber">House Number</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.school.phone">Phone</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.school.city">City</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.school.zipcode">Zipcode</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.school.state">State</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.school.country">Country</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.school.logo">Logo</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.school.spot">Spot</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.school.parent">Parent</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let school of schools ;trackBy: trackId">
                <td><a [routerLink]="['../school', school.id ]">{{school.id}}</a></td>
                <td>{{school.name}}</td>
                <td>{{school.address}}</td>
                <td>{{school.houseNumber}}</td>
                <td>{{school.phone}}</td>
                <td>{{school.city}}</td>
                <td>{{school.zipcode}}</td>
                <td>{{school.state}}</td>
                <td>{{school.country}}</td>
                <td>
                    <a *ngIf="school.logo" (click)="openFile(school.logoContentType, school.logo)">
                        <img [src]="'data:' + school.logoContentType + ';base64,' + school.logo" style="max-height: 30px;" alt="school image"/>
                    </a>
                    <span *ngIf="school.logo">{{school.logoContentType}}, {{byteSize(school.logo)}}</span>
                </td>
                <td>
                    <div *ngIf="school.spotId">
                        <a [routerLink]="['../spot', school.spotId  ]" >{{school.spotId}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let parent of school.parents; let last = last">
                            <a class="form-control-static" [routerLink]="['../parent', parent?.id ]">{{parent.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../school', school.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'school/'+ school.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'school/'+ school.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
