<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myParentNotificationLabel" jhiTranslate="busRidePlatformBackendApp.parentNotification.home.createOrEditLabel">Create or edit a Parent Notification</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!parentNotification.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="parentNotification.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.parentNotification.notification" for="field_notification">Notification</label>
            <input type="text" class="form-control" name="notification" id="field_notification"
                [(ngModel)]="parentNotification.notification"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.parentNotification.timestamp" for="field_timestamp">Timestamp</label>
            <div class="d-flex">
                <input id="field_timestamp" type="datetime-local" class="form-control" name="timestamp" [(ngModel)]="parentNotification.timestamp"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.parentNotification.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="parentNotification.type" id="field_type" >
                <option value="ANNOUNCEMENT">{{'busRidePlatformBackendApp.ParentNotificationType.ANNOUNCEMENT' | translate}}</option>
                <option value="POLICY_CHANGE_ANNOUNCEMENT">{{'busRidePlatformBackendApp.ParentNotificationType.POLICY_CHANGE_ANNOUNCEMENT' | translate}}</option>
                <option value="ACCOUNT_NOTIFICATION">{{'busRidePlatformBackendApp.ParentNotificationType.ACCOUNT_NOTIFICATION' | translate}}</option>
                <option value="MEETING_REQUEST">{{'busRidePlatformBackendApp.ParentNotificationType.MEETING_REQUEST' | translate}}</option>
                <option value="EMERGENCY">{{'busRidePlatformBackendApp.ParentNotificationType.EMERGENCY' | translate}}</option>
                <option value="DRIVER">{{'busRidePlatformBackendApp.ParentNotificationType.DRIVER' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.parentNotification.parent" for="field_parent">Parent</label>
            <select class="form-control" id="field_parent" name="parent" [(ngModel)]="parentNotification.parentId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="parentOption.id" *ngFor="let parentOption of parents; trackBy: trackParentById">{{parentOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
