
<div *ngIf="parentNotification">
    <h2><span jhiTranslate="busRidePlatformBackendApp.parentNotification.detail.title">Parent Notification</span> {{parentNotification.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="busRidePlatformBackendApp.parentNotification.notification">Notification</span></dt>
        <dd>
            <span>{{parentNotification.notification}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.parentNotification.timestamp">Timestamp</span></dt>
        <dd>
            <span>{{parentNotification.timestamp | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.parentNotification.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'busRidePlatformBackendApp.ParentNotificationType.' + parentNotification.type}}">{{parentNotification.type}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.parentNotification.parent">Parent</span></dt>
        <dd>
            <div *ngIf="parentNotification.parentId">
                <a [routerLink]="['/parent', parentNotification.parentId]">{{parentNotification.parentId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'parent-notification/'+ parentNotification.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
