<div>
    <h2>
        <span jhiTranslate="busRidePlatformBackendApp.parentNotification.home.title">Parent Notifications</span>
        <button class="btn btn-primary float-right jh-create-entity create-parent-notification" [routerLink]="['/', { outlets: { popup: ['parent-notification-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="busRidePlatformBackendApp.parentNotification.home.createLabel">
            Create new Parent Notification
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="parentNotifications">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.parentNotification.notification">Notification</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.parentNotification.timestamp">Timestamp</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.parentNotification.type">Type</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.parentNotification.parent">Parent</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let parentNotification of parentNotifications ;trackBy: trackId">
                <td><a [routerLink]="['../parent-notification', parentNotification.id ]">{{parentNotification.id}}</a></td>
                <td>{{parentNotification.notification}}</td>
                <td>{{parentNotification.timestamp | date:'medium'}}</td>
                <td jhiTranslate="{{'busRidePlatformBackendApp.ParentNotificationType.' + parentNotification.type}}">{{parentNotification.type}}</td>
                <td>
                    <div *ngIf="parentNotification.parentId">
                        <a [routerLink]="['../parent', parentNotification.parentId  ]" >{{parentNotification.parentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../parent-notification', parentNotification.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'parent-notification/'+ parentNotification.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'parent-notification/'+ parentNotification.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
