
<div *ngIf="parent">
    <h2><span jhiTranslate="busRidePlatformBackendApp.parent.detail.title">Parent</span> {{parent.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="busRidePlatformBackendApp.parent.address">Address</span></dt>
        <dd>
            <span>{{parent.address}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.parent.houseNumber">House Number</span></dt>
        <dd>
            <span>{{parent.houseNumber}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.parent.city">City</span></dt>
        <dd>
            <span>{{parent.city}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.parent.zipCode">Zip Code</span></dt>
        <dd>
            <span>{{parent.zipCode}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.parent.state">State</span></dt>
        <dd>
            <span>{{parent.state}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.parent.country">Country</span></dt>
        <dd>
            <span>{{parent.country}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.parent.phone">Phone</span></dt>
        <dd>
            <span>{{parent.phone}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.parent.landPhone">Land Phone</span></dt>
        <dd>
            <span>{{parent.landPhone}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.parent.noOfStudents">No Of Students</span></dt>
        <dd>
            <span>{{parent.noOfStudents}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.parent.deviceIdentifier">Device Identifier</span></dt>
        <dd>
            <span>{{parent.deviceIdentifier}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.parent.deviceType">Device Type</span></dt>
        <dd>
            <span jhiTranslate="{{'busRidePlatformBackendApp.DeviceType.' + parent.deviceType}}">{{parent.deviceType}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.parent.gcmSessionId">Gcm Session Id</span></dt>
        <dd>
            <span>{{parent.gcmSessionId}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.parent.endpointARN">Endpoint ARN</span></dt>
        <dd>
            <span>{{parent.endpointARN}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.parent.nationalId">National Id</span></dt>
        <dd>
            <span>{{parent.nationalId}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.parent.user">User</span></dt>
        <dd>
            {{parent.userId}}
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.parent.spot">Spot</span></dt>
        <dd>
            <div *ngIf="parent.spotId">
                <a [routerLink]="['/spot', parent.spotId]">{{parent.spotId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.parent.linkToPrimary">Link To Primary</span></dt>
        <dd>
            <div *ngIf="parent.linkToPrimaryId">
                <a [routerLink]="['/parent', parent.linkToPrimaryId]">{{parent.linkToPrimaryId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'parent/'+ parent.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
