<div>
    <h2>
        <span jhiTranslate="busRidePlatformBackendApp.parent.home.title">Parents</span>
        <button class="btn btn-primary float-right jh-create-entity create-parent" [routerLink]="['/', { outlets: { popup: ['parent-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="busRidePlatformBackendApp.parent.home.createLabel">
            Create new Parent
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="parents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.parent.address">Address</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.parent.houseNumber">House Number</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.parent.city">City</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.parent.zipCode">Zip Code</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.parent.state">State</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.parent.country">Country</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.parent.phone">Phone</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.parent.landPhone">Land Phone</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.parent.noOfStudents">No Of Students</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.parent.deviceIdentifier">Device Identifier</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.parent.deviceType">Device Type</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.parent.gcmSessionId">Gcm Session Id</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.parent.endpointARN">Endpoint ARN</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.parent.nationalId">National Id</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.parent.user">User</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.parent.spot">Spot</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.parent.linkToPrimary">Link To Primary</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let parent of parents ;trackBy: trackId">
                <td><a [routerLink]="['../parent', parent.id ]">{{parent.id}}</a></td>
                <td>{{parent.address}}</td>
                <td>{{parent.houseNumber}}</td>
                <td>{{parent.city}}</td>
                <td>{{parent.zipCode}}</td>
                <td>{{parent.state}}</td>
                <td>{{parent.country}}</td>
                <td>{{parent.phone}}</td>
                <td>{{parent.landPhone}}</td>
                <td>{{parent.noOfStudents}}</td>
                <td>{{parent.deviceIdentifier}}</td>
                <td jhiTranslate="{{'busRidePlatformBackendApp.DeviceType.' + parent.deviceType}}">{{parent.deviceType}}</td>
                <td>{{parent.gcmSessionId}}</td>
                <td>{{parent.endpointARN}}</td>
                <td>{{parent.nationalId}}</td>
                <td>
                    {{parent.userId}}
                </td>
                <td>
                    <div *ngIf="parent.spotId">
                        <a [routerLink]="['../spot', parent.spotId  ]" >{{parent.spotId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="parent.linkToPrimaryId">
                        <a [routerLink]="['../parent', parent.linkToPrimaryId  ]" >{{parent.linkToPrimaryId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../parent', parent.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'parent/'+ parent.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'parent/'+ parent.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
