<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myParentLabel" jhiTranslate="busRidePlatformBackendApp.parent.home.createOrEditLabel">Create or edit a Parent</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!parent.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="parent.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.parent.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="parent.address"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.parent.houseNumber" for="field_houseNumber">House Number</label>
            <input type="text" class="form-control" name="houseNumber" id="field_houseNumber"
                [(ngModel)]="parent.houseNumber"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.parent.city" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                [(ngModel)]="parent.city"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.parent.zipCode" for="field_zipCode">Zip Code</label>
            <input type="text" class="form-control" name="zipCode" id="field_zipCode"
                [(ngModel)]="parent.zipCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.parent.state" for="field_state">State</label>
            <input type="text" class="form-control" name="state" id="field_state"
                [(ngModel)]="parent.state"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.parent.country" for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country"
                [(ngModel)]="parent.country"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.parent.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                [(ngModel)]="parent.phone"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.parent.landPhone" for="field_landPhone">Land Phone</label>
            <input type="text" class="form-control" name="landPhone" id="field_landPhone"
                [(ngModel)]="parent.landPhone"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.parent.noOfStudents" for="field_noOfStudents">No Of Students</label>
            <input type="number" class="form-control" name="noOfStudents" id="field_noOfStudents"
                [(ngModel)]="parent.noOfStudents"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.parent.deviceIdentifier" for="field_deviceIdentifier">Device Identifier</label>
            <input type="text" class="form-control" name="deviceIdentifier" id="field_deviceIdentifier"
                [(ngModel)]="parent.deviceIdentifier"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.parent.deviceType" for="field_deviceType">Device Type</label>
            <select class="form-control" name="deviceType" [(ngModel)]="parent.deviceType" id="field_deviceType" >
                <option value="ANDROID">{{'busRidePlatformBackendApp.DeviceType.ANDROID' | translate}}</option>
                <option value="IOS">{{'busRidePlatformBackendApp.DeviceType.IOS' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.parent.gcmSessionId" for="field_gcmSessionId">Gcm Session Id</label>
            <input type="text" class="form-control" name="gcmSessionId" id="field_gcmSessionId"
                [(ngModel)]="parent.gcmSessionId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.parent.endpointARN" for="field_endpointARN">Endpoint ARN</label>
            <input type="text" class="form-control" name="endpointARN" id="field_endpointARN"
                [(ngModel)]="parent.endpointARN"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.parent.nationalId" for="field_nationalId">National Id</label>
            <input type="text" class="form-control" name="nationalId" id="field_nationalId"
                [(ngModel)]="parent.nationalId"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.parent.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="parent.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.parent.spot" for="field_spot">Spot</label>
            <select class="form-control" id="field_spot" name="spot" [(ngModel)]="parent.spotId">
                <option [ngValue]="null"></option>
                <option [ngValue]="spotOption.id" *ngFor="let spotOption of spots; trackBy: trackSpotById">{{spotOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.parent.linkToPrimary" for="field_linkToPrimary">Link To Primary</label>
            <select class="form-control" id="field_linkToPrimary" name="linkToPrimary" [(ngModel)]="parent.linkToPrimaryId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="parentOption.id" *ngFor="let parentOption of parents; trackBy: trackParentById">{{parentOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
