<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDriverLabel" jhiTranslate="busRidePlatformBackendApp.driver.home.createOrEditLabel">Create or edit a Driver</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!driver.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="driver.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.driver.capacity" for="field_capacity">Capacity</label>
            <input type="number" class="form-control" name="capacity" id="field_capacity"
                [(ngModel)]="driver.capacity"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.driver.deviceIdentifier" for="field_deviceIdentifier">Device Identifier</label>
            <input type="text" class="form-control" name="deviceIdentifier" id="field_deviceIdentifier"
                [(ngModel)]="driver.deviceIdentifier"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.driver.gcmSessionId" for="field_gcmSessionId">Gcm Session Id</label>
            <input type="text" class="form-control" name="gcmSessionId" id="field_gcmSessionId"
                [(ngModel)]="driver.gcmSessionId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.driver.endpointARN" for="field_endpointARN">Endpoint ARN</label>
            <input type="text" class="form-control" name="endpointARN" id="field_endpointARN"
                [(ngModel)]="driver.endpointARN"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.driver.tabletNumber" for="field_tabletNumber">Tablet Number</label>
            <input type="text" class="form-control" name="tabletNumber" id="field_tabletNumber"
                [(ngModel)]="driver.tabletNumber"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.driver.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="driver.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.driver.activeBusRoute" for="field_activeBusRoute">Active Bus Route</label>
            <select class="form-control" id="field_activeBusRoute" name="activeBusRoute" [(ngModel)]="driver.activeBusRouteId">
                <option [ngValue]="null"></option>
                <option [ngValue]="busRouteOption.id" *ngFor="let busRouteOption of activebusroutes; trackBy: trackBusRouteById">{{busRouteOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.driver.school" for="field_school">School</label>
            <select class="form-control" id="field_school" name="school" [(ngModel)]="driver.schoolId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="schoolOption.id" *ngFor="let schoolOption of schools; trackBy: trackSchoolById">{{schoolOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
