<div>
    <h2>
        <span jhiTranslate="busRidePlatformBackendApp.driver.home.title">Drivers</span>
        <button class="btn btn-primary float-right jh-create-entity create-driver" [routerLink]="['/', { outlets: { popup: ['driver-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="busRidePlatformBackendApp.driver.home.createLabel">
            Create new Driver
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="drivers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.driver.capacity">Capacity</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.driver.deviceIdentifier">Device Identifier</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.driver.gcmSessionId">Gcm Session Id</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.driver.endpointARN">Endpoint ARN</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.driver.tabletNumber">Tablet Number</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.driver.user">User</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.driver.activeBusRoute">Active Bus Route</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.driver.school">School</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let driver of drivers ;trackBy: trackId">
                <td><a [routerLink]="['../driver', driver.id ]">{{driver.id}}</a></td>
                <td>{{driver.capacity}}</td>
                <td>{{driver.deviceIdentifier}}</td>
                <td>{{driver.gcmSessionId}}</td>
                <td>{{driver.endpointARN}}</td>
                <td>{{driver.tabletNumber}}</td>
                <td>
                    {{driver.userId}}
                </td>
                <td>
                    <div *ngIf="driver.activeBusRouteId">
                        <a [routerLink]="['../bus-route', driver.activeBusRouteId  ]" >{{driver.activeBusRouteId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="driver.schoolId">
                        <a [routerLink]="['../school', driver.schoolId  ]" >{{driver.schoolId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../driver', driver.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'driver/'+ driver.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'driver/'+ driver.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
