
<div *ngIf="driver">
    <h2><span jhiTranslate="busRidePlatformBackendApp.driver.detail.title">Driver</span> {{driver.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="busRidePlatformBackendApp.driver.capacity">Capacity</span></dt>
        <dd>
            <span>{{driver.capacity}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.driver.deviceIdentifier">Device Identifier</span></dt>
        <dd>
            <span>{{driver.deviceIdentifier}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.driver.gcmSessionId">Gcm Session Id</span></dt>
        <dd>
            <span>{{driver.gcmSessionId}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.driver.endpointARN">Endpoint ARN</span></dt>
        <dd>
            <span>{{driver.endpointARN}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.driver.tabletNumber">Tablet Number</span></dt>
        <dd>
            <span>{{driver.tabletNumber}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.driver.user">User</span></dt>
        <dd>
            {{driver.userId}}
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.driver.activeBusRoute">Active Bus Route</span></dt>
        <dd>
            <div *ngIf="driver.activeBusRouteId">
                <a [routerLink]="['/bus-route', driver.activeBusRouteId]">{{driver.activeBusRouteId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.driver.school">School</span></dt>
        <dd>
            <div *ngIf="driver.schoolId">
                <a [routerLink]="['/school', driver.schoolId]">{{driver.schoolId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'driver/'+ driver.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
