
<div *ngIf="student">
    <h2><span jhiTranslate="busRidePlatformBackendApp.student.detail.title">Student</span> {{student.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="busRidePlatformBackendApp.student.name">Name</span></dt>
        <dd>
            <span>{{student.name}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.student.image">Image</span></dt>
        <dd>
            <div *ngIf="student.image">
                <a (click)="openFile(student.imageContentType, student.image)">
                    <img [src]="'data:' + student.imageContentType + ';base64,' + student.image" style="max-width: 100%;" alt="student image"/>
                </a>
                {{student.imageContentType}}, {{byteSize(student.image)}}
            </div>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.student.typeOfService">Type Of Service</span></dt>
        <dd>
            <span jhiTranslate="{{'busRidePlatformBackendApp.StudentServiceType.' + student.typeOfService}}">{{student.typeOfService}}</span>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.student.school">School</span></dt>
        <dd>
            <div *ngIf="student.schoolId">
                <a [routerLink]="['/school', student.schoolId]">{{student.schoolId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.student.parent">Parent</span></dt>
        <dd>
            <div *ngIf="student.parentId">
                <a [routerLink]="['/parent', student.parentId]">{{student.parentId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'student/'+ student.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
