<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myStudentLabel" jhiTranslate="busRidePlatformBackendApp.student.home.createOrEditLabel">Create or edit a Student</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!student.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="student.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.student.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="student.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.student.image" for="field_image">Image</label>
            <div>
                <img [src]="'data:' + student.imageContentType + ';base64,' + student.image" style="max-height: 100px;" *ngIf="student.image" alt="student image"/>
                <div *ngIf="student.image" class="form-text text-danger clearfix">
                    <span class="pull-left">{{student.imageContentType}}, {{byteSize(student.image)}}</span>
                    <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_image" (change)="setFileData($event, student, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                [(ngModel)]="student.image"  />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                [(ngModel)]="student.imageContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.student.typeOfService" for="field_typeOfService">Type Of Service</label>
            <select class="form-control" name="typeOfService" [(ngModel)]="student.typeOfService" id="field_typeOfService" >
                <option value="ROUND_TRIP">{{'busRidePlatformBackendApp.StudentServiceType.ROUND_TRIP' | translate}}</option>
                <option value="PICKUP">{{'busRidePlatformBackendApp.StudentServiceType.PICKUP' | translate}}</option>
                <option value="DROPOFF">{{'busRidePlatformBackendApp.StudentServiceType.DROPOFF' | translate}}</option>
                <option value="OFF">{{'busRidePlatformBackendApp.StudentServiceType.OFF' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.student.school" for="field_school">School</label>
            <select class="form-control" id="field_school" name="school" [(ngModel)]="student.schoolId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="schoolOption.id" *ngFor="let schoolOption of schools; trackBy: trackSchoolById">{{schoolOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="busRidePlatformBackendApp.student.parent" for="field_parent">Parent</label>
            <select class="form-control" id="field_parent" name="parent" [(ngModel)]="student.parentId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="parentOption.id" *ngFor="let parentOption of parents; trackBy: trackParentById">{{parentOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
