<div>
    <h2>
        <span jhiTranslate="busRidePlatformBackendApp.student.home.title">Students</span>
        <button class="btn btn-primary float-right jh-create-entity create-student" [routerLink]="['/', { outlets: { popup: ['student-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="busRidePlatformBackendApp.student.home.createLabel">
            Create new Student
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="students">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.student.name">Name</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.student.image">Image</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.student.typeOfService">Type Of Service</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.student.school">School</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.student.parent">Parent</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let student of students ;trackBy: trackId">
                <td><a [routerLink]="['../student', student.id ]">{{student.id}}</a></td>
                <td>{{student.name}}</td>
                <td>
                    <a *ngIf="student.image" (click)="openFile(student.imageContentType, student.image)">
                        <img [src]="'data:' + student.imageContentType + ';base64,' + student.image" style="max-height: 30px;" alt="student image"/>
                    </a>
                    <span *ngIf="student.image">{{student.imageContentType}}, {{byteSize(student.image)}}</span>
                </td>
                <td jhiTranslate="{{'busRidePlatformBackendApp.StudentServiceType.' + student.typeOfService}}">{{student.typeOfService}}</td>
                <td>
                    <div *ngIf="student.schoolId">
                        <a [routerLink]="['../school', student.schoolId  ]" >{{student.schoolId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="student.parentId">
                        <a [routerLink]="['../parent', student.parentId  ]" >{{student.parentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../student', student.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'student/'+ student.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'student/'+ student.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
