<div>
    <h2>
        <span jhiTranslate="busRidePlatformBackendApp.schoolAdmin.home.title">School Admins</span>
        <button class="btn btn-primary float-right jh-create-entity create-school-admin" [routerLink]="['/', { outlets: { popup: ['school-admin-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="busRidePlatformBackendApp.schoolAdmin.home.createLabel">
            Create new School Admin
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="schoolAdmins">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.schoolAdmin.user">User</span></th>
            <th><span jhiTranslate="busRidePlatformBackendApp.schoolAdmin.school">School</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let schoolAdmin of schoolAdmins ;trackBy: trackId">
                <td><a [routerLink]="['../school-admin', schoolAdmin.id ]">{{schoolAdmin.id}}</a></td>
                <td>
                    {{schoolAdmin.userId}}
                </td>
                <td>
                    <div *ngIf="schoolAdmin.schoolId">
                        <a [routerLink]="['../school', schoolAdmin.schoolId  ]" >{{schoolAdmin.schoolId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../school-admin', schoolAdmin.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'school-admin/'+ schoolAdmin.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'school-admin/'+ schoolAdmin.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
