
<div *ngIf="schoolAdmin">
    <h2><span jhiTranslate="busRidePlatformBackendApp.schoolAdmin.detail.title">School Admin</span> {{schoolAdmin.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="busRidePlatformBackendApp.schoolAdmin.user">User</span></dt>
        <dd>
            {{schoolAdmin.userId}}
        </dd>
        <dt><span jhiTranslate="busRidePlatformBackendApp.schoolAdmin.school">School</span></dt>
        <dd>
            <div *ngIf="schoolAdmin.schoolId">
                <a [routerLink]="['/school', schoolAdmin.schoolId]">{{schoolAdmin.schoolId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'school-admin/'+ schoolAdmin.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
